feature lldp
{% for interface in interfaces -%}
interface {{ interface }}
  {% if interface == 'loopback0' -%}
  ip address {{ interfaces[interface].address }}
  {% else -%}
  no switchport
  ip address {{ interfaces[interface].address }}
  no shutdown
  {% endif %}
{% endfor -%}
